.title{
  color:aliceblue;
}
.content{
  color:aliceblue;
}

.block{
  display: flex;
  justify-content:space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.surround{
  position: inherit;
  color:rgb(87, 87, 87);
  background-color:rgb(198, 198, 198);
  border-radius: 30px 20px 30px 20px;
  width: 400px;
  margin: 2em 0;
  font-weight: bold;
  text-align: center;
  border: solid 3px rgb(87, 87, 87);
}